:host {
  display: block;
}

.cv-report-header {
  display: flex;
  align-items: flex-start;

  .cv-i {
    margin-top: 0.35em;
    margin-right: 0.35em;
  }
}

.cv-i {
  background: #0000 radial-gradient(circle, #fff 0%, #fff 70%, #fff0 70%);
}
