:host {
  display: block;
}

.cv-report-header {
  display: flex;
  align-items: flex-start;

  [class*=" cv-i-"],
  [class|="cv-i"] {
    margin-top: 0.25em;
  }
}

[class*=" cv-i-"],
[class|="cv-i"] {
  background: #0000 radial-gradient(circle, #fff 0%, #fff 70%, #fff0 70%);
}
