# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.parcel-cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
* - Copie.*
/data
/dev
/config/local*
/config/certificate/*
!/config/certificate/ssl.sh
src/common/scss/_config.scss
