@use "sass:map";
@use "sass:color";
@use "sass:math";

:host {
  display: inline-block;
  position: relative;
  --cv-report-body-item-label-align: end;
}

:host([open]) {
  z-index: 1;
}

$actions: "to-be-fixed" "error", "fixed" "success", "no-error" "success", "ignore" "success";

@each $action, $status in $actions {
  :host([action="#{$action}"]:focus-visible) {
    outline-color: var(--cv-#{$status});
  }

  :host([action="#{$action}"]) {
    --cv-widget-state-color: #{tint-color(map.get($theme-colors, $status), 75%)};
    --cv-widget-state-hover-color: #{map.get($theme-colors, $status)};
    --cv-widget-state-hover-bg: #{color.adjust(map.get($theme-colors, $status), $alpha: -0.975)};
    --cv-widget-state-active-color: #{shade-color(map.get($theme-colors, $status), 25%)};
  }
}

::slotted(img) {
  position: relative;
}

::slotted(:link) {
  text-decoration: none !important;
  transition: color var(--cv-report-dialog-close-animation-duration) cubic-bezier(0.165, 0.84, 0.44, 1);
}

::slotted(:link:hover) {
  text-decoration: underline !important;
}

.report-widget-container {
  $cv-report-widget-state-active-padding: 0.5em;
  $cv-report-widget-state-active-border: 2px;
  $cv-report-dialog-arrow-size: 0.75em;

  // $_report-dialog-offset: 11px * 2;
  $_report-dialog-arrow-height: math.div(math.hypot(hem($cv-report-dialog-arrow-size), hem($cv-report-dialog-arrow-size)), 2);
  $_report-dialog-offset: hem($cv-report-widget-state-active-padding) + $cv-report-widget-state-active-border + $_report-dialog-arrow-height;

  --cv-report-dialog-open-animation-duration: var(--cv-speed-duration-medium-in);
  --cv-report-dialog-close-animation-duration: var(--cv-speed-duration-medium-out);

  --cv-report-dialog-arrow-size: #{$cv-report-dialog-arrow-size};

  --cv-report-dialog-border: 1px solid rgb(0 0 0 / 0.125);
  --cv-report-dialog-border-radius: var(--cv-radius-block);
  --cv-report-dialog-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.25), 0 4px 6px -4px rgb(0 0 0 / 0.25);
  // --cv-report-dialog-box-shadow: 5px 5px 15px 5px #000000;

  --cv-report-dialog-header-bg: #e1e1e1;
  --cv-report-dialog-header-padding-y: 1em;
  --cv-report-dialog-header-padding-x: 1.25em;

  --cv-report-dialog-body-bg: #fff;
  --cv-report-dialog-body-spacer-y: 1em;
  --cv-report-dialog-body-spacer-x: 1.25em;

  --cv-widget-state-border-width: 2px;

  --_report-dialog-offset: #{$_report-dialog-offset};
  --_report-widget-gap-filler: calc(#{$cv-report-widget-state-active-padding * 2} + calc(#{$cv-report-widget-state-active-border} * 2) + 1px);
  --_report-dialog-arrow-height: calc(#{$_report-dialog-arrow-height} / 2);

  cv-report-header {
    @include widget-state($cv-report-widget-state-active-padding, $border-width: $cv-report-widget-state-active-border, $hover-class: hover);

    box-shadow: #ffffffff 0 0 0 0.25em, var(--cv-widget-state-color) 0 0 0 calc(0.25em + var(--cv-widget-state-border-width)) !important;

    transition: box-shadow var(--cv-report-dialog-close-animation-duration) cubic-bezier(0.165, 0.84, 0.44, 1);

    position: relative;
    border-radius: var(--cv-radius-inline);
    scale: var(--_cv-report-widget-header-scale, 0.975);
    background-color: #fff;

    &:hover,
    &.hover {
      transition: box-shadow var(--cv-report-dialog-open-animation-duration) cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    &:active {
      transition: box-shadow var(--cv-speed-duration-short) ease-in-out;
    }
  }
}

.report-dialog {
  @include reset-inherit;

  display: none;
  min-width: 35em;
  max-width: 80vw;
  padding: 0;
  position: relative;
  cursor: auto;
  border: var(--cv-report-dialog-border);
  box-shadow: var(--cv-report-dialog-box-shadow);
  border-radius: var(--cv-report-dialog-border-radius);

  font-size: 15px;

  &[open] {
    display: block;
    z-index: 15001;
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   display: none;
  // }

  // &[data-popper-placement^="top"]::before {
  //   height: var(--_report-widget-gap-filler);
  //   bottom: calc(var(--_report-widget-gap-filler) * -1);
  //   left: 0;
  //   width: 100%;
  // }

  // &[data-popper-placement^="bottom"]::before {
  //   height: var(--_report-widget-gap-filler);
  //   top: calc(var(--_report-widget-gap-filler) * -1);
  //   left: 0;
  //   width: 100%;
  // }

  // &[data-popper-placement^="left"]::before {
  //   width: var(--_report-widget-gap-filler);
  //   right: calc(var(--_report-widget-gap-filler) * -1);
  //   top: 0;
  //   height: 100%;
  // }

  // &[data-popper-placement^="right"]::before {
  //   width: var(--_report-widget-gap-filler);
  //   left: calc(var(--_report-widget-gap-filler) * -1);
  //   top: 0;
  //   height: 100%;
  // }
}

// arrow
cv-arrow {
  z-index: -1;

  @at-root {
    &,
    &::before {
      position: absolute;
      width: var(--cv-report-dialog-arrow-size);
      height: var(--cv-report-dialog-arrow-size);
    }
  }

  &::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
    background-color: var(--cv-report-dialog-body-bg);
    // border: var(--cv-report-dialog-border);
    box-shadow: var(--cv-report-dialog-box-shadow);

    // [data-popper-placement^="top"] > & {
    //   border-top-width: 0;
    //   border-left-width: 0;
    // }
  }

  &::after {
    content: "";
    position: absolute;

    [data-popper-placement^="top"] & {
      height: var(--_report-widget-gap-filler);
      width: var(--_report-widget-gap-width);
      bottom: calc((var(--_report-widget-gap-filler) - var(--_report-dialog-arrow-height) - 1px) * -1);
      left: calc(calc(var(--_report-widget-gap-width) * -0.5) + calc(var(--cv-report-dialog-arrow-size) / 2));
    }

    [data-popper-placement^="bottom"] & {
      height: var(--_report-widget-gap-filler);
      width: var(--_report-widget-gap-width);
      top: calc((var(--_report-widget-gap-filler) - var(--_report-dialog-arrow-height) - 1px) * -1);
      left: calc(calc(var(--_report-widget-gap-width) * -0.5) + calc(var(--cv-report-dialog-arrow-size) / 2));
    }

    [data-popper-placement^="left"] & {
      width: var(--_report-widget-gap-filler);
      height: var(--_report-widget-gap-height);
      right: calc((var(--_report-widget-gap-filler) - var(--_report-dialog-arrow-height) - 1px) * -1);
      top: calc(calc(var(--_report-widget-gap-height) * -0.5) + calc(var(--cv-report-dialog-arrow-size) / 2));
    }

    [data-popper-placement^="right"] & {
      width: var(--_report-widget-gap-filler);
      height: var(--_report-widget-gap-height);
      left: calc((var(--_report-widget-gap-filler) - var(--_report-dialog-arrow-height) - 1px) * -1);
      top: calc(calc(var(--_report-widget-gap-height) * -0.5) + calc(var(--cv-report-dialog-arrow-size) / 2));
    }
  }

  [data-popper-placement^="top"] > & {
    bottom: calc(var(--cv-report-dialog-arrow-size) * -0.5);
  }

  [data-popper-placement^="bottom"] > & {
    top: calc(var(--cv-report-dialog-arrow-size) * -0.5);

    &::before {
      background-color: var(--cv-report-dialog-header-bg);
    }
  }

  [data-popper-placement^="left"] > & {
    right: calc(var(--cv-report-dialog-arrow-size) * -0.5);
  }

  [data-popper-placement^="right"] > & {
    left: calc(var(--cv-report-dialog-arrow-size) * -0.5);
  }
}

.report-dialog-header {
  font-weight: 500;
  padding: var(--cv-report-dialog-header-padding-y) var(--cv-report-dialog-header-padding-x);
  color: var(--cv-report-dialog-header-color);
  background-color: var(--cv-report-dialog-header-bg);
  border-top-left-radius: var(--cv-report-dialog-border-radius);
  border-top-right-radius: var(--cv-report-dialog-border-radius);
}

.report-dialog-body {
  --cv-widget-state-color: #{$cv-widget-state-color};
  --cv-widget-state-hover-color: #{$cv-widget-state-hover-color};

  background: var(--cv-report-dialog-body-bg);
  padding: var(--cv-report-dialog-body-spacer-y) var(--cv-report-dialog-body-spacer-x);
  border-bottom-left-radius: var(--cv-report-dialog-border-radius);
  border-bottom-right-radius: var(--cv-report-dialog-border-radius);
}

// cv-arrow {
//   display: none;
// }

cv-report-body {
  --cv-report-body-margin-left: 0;
}
