<header class="cv-page-header">
  <h1>{{{title}}}</h1>
  <p>Tapez <code>ALT-L</code> (comme dans «&nbsp;Lien&nbsp;») pour afficher/masquer les liens brisés sur une page du site.</p>
</header>
<p class="small">Liens vérifiés le <cv-last-harvested>38 octembre 3017</cv-last-harvested>
  {{#if currentJob.deadline}}<br />
  Échéance le {{currentJob.deadline}}{{/if}}
</p>