.loading {
  cursor: wait;
}

cv-report,
.cv-page-report {
  --cv-animate-duration: 0.3s;
}

.cv-animate-zoom-out {
  @extend .animate__animated;
  @extend .animate__fade-out;
}

.cv-animate-zoom-in {
  @extend .animate__animated;
  @extend .animate__fade-in;
}

cv-report-body {
  --cv-i-download--container-text-align: left;

  margin-left: 1.5em;
}

.offcanvas-backdrop {
  background-color: var(--cv-backdrop-color);

  .show {
    opacity: 1;
  }
}
