.cv-sections {
  margin-bottom: 2em;

  h2 {
    background-color: var(--cv-gray-200);
    border-top: 1px solid #7a7b7e;
    border-radius: var(--cv-border-radius);
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    margin: 2em 0 1em;
    padding: 1em 0.2em;
    text-decoration: none;
    text-indent: 1em;
  }

  &-list {
    list-style-type: none;
    column-count: 1;
    padding-left: 0;
    margin: 2em 3em 1em;

    @include media-breakpoint-up(md) {
      & {
        column-count: 2;
      }
    }

    @include media-breakpoint-up(lg) {
      & {
        column-count: 3;
      }
    }

    li {
      margin: 0.5em 0;
      padding-left: 1.5em;
      text-indent: -1.5em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      display: inline-block;
      width: 100%;
    }
  }
}

.cv-section-errors {
  font-size: 0.8em;
  color: #888;
  white-space: nowrap;
}
