@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes cv-search-input-width {
  0% {
    max-width: var(--cv-search-input-default-width);
  }

  100% {
    max-width: var(--_cv-search-input-computed-max-width);
  }
}

.show-search-widget {
  animation: fade-in var(--cv-search-widget-open-animation-duration, var(--cv-speed-duration-short)) cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
}

.hide-search-widget {
  animation: fade-out var(--cv-search-widget-close-animation-duration, var(--cv-speed-duration-short)) cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.cv-chip {
  --cv-chip-base-size: 0.9rem;
  --cv-chip-color: #49454e;
  --cv-chip-background-color: #fff;

  --cv-badge-color: var(--cv-chip-color);
  --cv-badge-font-size: calc(var(--cv-chip-base-size) * 0.9);
  --cv-badge-font-weight: 500;
  --cv-badge-border-radius: var(--cv-radius-round);

  @extend .badge;

  display: flex;
  align-items: center;
  line-height: calc(var(--cv-chip-base-size) * 1.65);
  background-color: var(--cv-chip-background-color);
  color: inherit;
  font-size: var(--cv-badge-font-size);
  font-weight: var(--cv-badge-font-weight);
  outline: 1px solid #5f636873;
  padding: 0 calc(var(--cv-chip-base-size) * 1) 0 calc(var(--cv-chip-base-size) * 0.5);
  margin: 0.15em 0;
  overflow: hidden;

  &:hover {
    --cv-chip-color: #1e192b;
    --cv-chip-background-color: #f8f9fa;

    outline-color: #5f6368cc;
  }

  .btn-close {
    color: inherit;
    width: 1.5em;
    height: 1.5em;
    opacity: unset;
    border-radius: var(--cv-radius-round);
    padding: 0;
    background-size: calc(var(--cv-chip-base-size) * 0.65);
    flex-shrink: 0;

    &:hover {
      background-color: #e7e6e6;
    }
  }
}

.cv-chip-text {
  margin-left: calc(var(--cv-chip-base-size) * 0.25);
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}

.cv-search-input-container {
  --cv-search-input-default-width: calc(10.9375 * 1rem); // 175px @ 1rem === 16px
  --cv-search-input-max-width: 40vw;
  --_cv-search-input-computed-max-width: var(--cv-search-input-max-width);

  &.filled {
    max-width: var(--cv-search-input-max-width);
  }

  &.expanding {
    animation: cv-search-input-width var(--cv-search-input-transition-duration-in, var(--cv-speed-duration-short)) ease-in;
  }

  &.contracting {
    animation: cv-search-input-width var(--cv-search-input-transition-duration-out, var(--cv-speed-duration-short)) ease-out;
    animation-direction: reverse;

    .cv-chip {
      transition: opacity var(--cv-search-input-transition-duration-out, var(--cv-speed-duration-short)) ease-out;
      opacity: 0;
    }
  }

  &:not(.filled) {
    .cv-search-input {
      @extend %widget-state;

      transition-property: box-shadow, background-color;
      cursor: text;

      &:hover,
      &:active {
        background-color: transparent;
        transition-property: box-shadow, background-color;
      }

      &.loading {
        @extend %widget-state-none;

        opacity: 0.5;
        cursor: wait;

        &:hover,
        &:active {
          background-color: var(--cv-search-input-bg-color);
        }
      }

      .cv-search-input-btn {
        cursor: inherit;
      }
    }
  }
}

.cv-search-input {
  --cv-search-input-bg-color: #f1f3f4;

  background-color: var(--cv-search-input-bg-color);
  border-radius: var(--cv-radius-round);
  display: flex;
  padding: 0.3125em 0.3125em 0.3125em 0.75em;
  align-items: center;

  .cv-placeholder {
    white-space: nowrap;
    color: #696a89;

    &:hover {
      color: inherit;
    }
  }
}

.cv-search-input-btn {
  border: 1px solid transparent;
  line-height: 1.75;
  padding: 0;
  margin: 0 0.5em 0 0.35em;
  min-width: 120px;
  cursor: pointer;
  background: transparent;
}

.cv-search-dialog {
  --search-dialog-padding: 1rem;
  --search-dialog-border-radius: var(--cv-radius-block);
  --color-light-gray: #f4f4f4;
  --scrollbar-width: 0.5rem;

  @at-root {
    &,
    &::backdrop {
      --_search-dialog-animation-duration-in: var(--search-dialog-animation-duration-in, var(--cv-speed-duration-large-in));
      --_search-dialog-animation-duration-out: var(--search-dialog-animation-duration-out, var(--cv-speed-duration-large-out));
    }
  }

  --_input-height: 2.75rem; // 44px @ 1rem = 16px
  --_input-border-width: 1px;
  --_input-border-width-focus: 2px;
  --_items-margin-block-start: 1rem;

  font-size: 1rem;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  // max-height: 100vh;
  // height: 100vh;
  // max-width: 100vw;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }

  @include media-breakpoint-up(sm) {
    --scrollbar-width: 0.875rem;

    --_input-height: 3.125rem; // 50px @ 1rem = 16px

    border-radius: var(--search-dialog-border-radius);
    box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
    inset-block: var(--cv-navbar-height, 70px) auto;
    margin: auto;
    max-width: calc(100vw - 2em);
    max-height: calc(100vh - var(--cv-navbar-height, 70px) - 1em);
  }

  &[open] {
    display: flex;
  }

  @keyframes dialog-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes dialog-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  &.open {
    animation: dialog-fade var(--_search-dialog-animation-duration-in) ease forwards;
  }

  &.close {
    animation: dialog-fade-out var(--_search-dialog-animation-duration-out) ease forwards;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.32);
  }

  &.open::backdrop {
    animation: dialog-fade var(--_search-dialog-animation-duration-in) ease forwards;
  }

  &.close::backdrop {
    animation: dialog-fade var(--_search-dialog-animation-duration-out) ease backwards;
    animation-direction: reverse;
  }

  &-content {
    padding: var(--search-dialog-padding);
    box-sizing: border-box;
    background-color: var(--color-light-gray);
    // border-radius: var(--cv-search-dialog-border-radius, var(--search-dialog-border-radius));
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @include media-breakpoint-up(sm) {
      & {
        width: min(43.75rem, 80vw); // (700px @ 1rem = 16px) OR 80vw
      }
    }
  }

  &-form {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--_input-height);
    background-color: #fff;
    padding-inline-end: calc(var(--search-dialog-padding) - var(--scrollbar-width));
    outline: var(--_input-border-width) solid var(--cv-blue);
    outline-offset: -1px;
    border-radius: var(--cv-radius-round);

    &.focus {
      outline-width: var(--_input-border-width-focus);
    }
  }

  &-input {
    flex-grow: 1;
    height: 100%;
    margin: 0;
    padding: 0;
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    outline: 0 none;
    background-color: transparent;

    &:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
      opacity: 0 !important;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 1em;
    }
  }

  &-submit-btn,
  &-reset-btn,
  &-back-btn,
  &-loading-btn {
    border: 0;
    inset-block-start: 0;
    padding: 0;
    height: 100%;
    aspect-ratio: 1/1;
    transition: opacity var(--cv-transition-duration);
    color: var(--cv-blue);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--_input-height);

    &.opacity-100,
    &.opacity-0 {
      transition: opacity var(--cv-transition-duration);
    }
  }

  &-submit-btn {
    pointer-events: none;

    &::-webkit-search-cancel-button {
      display: none !important;
    }
  }

  &-back-btn {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }

  &-submit-icon,
  &-reset-icon,
  &-back-icon {
    fill: currentColor;
    height: 45%;
    width: 45%;
  }

  &-reset-icon {
    width: 1em;
    height: 1em;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  code {
    background-color: transparent;
    color: var(--cv-gray-800);
    border-radius: 0;
    padding: 0;
  }

  .active code {
    color: var(--cv-light);
  }
}

.cv-search-dialog-box {
}

.cv-search-hits {
  // --scrollbar-width: 0.5rem;
  display: block;
  z-index: 1;
  padding: 0;
  overflow: auto;
  margin-inline: calc(-1 * var(--search-dialog-padding));
  margin-block-start: var(--_items-margin-block-start);
  padding-block-end: var(--search-dialog-padding);
  padding-inline-start: var(--search-dialog-padding);
  padding-inline-end: calc(var(--search-dialog-padding) - var(--_actual-scrollbar-width, 0) + 0.25em);
  scrollbar-color: auto var(--color-light-gray);
  scrollbar-width: thin;
  scrollbar-width: var(--scrollbar-width);

  @include media-breakpoint-up(sm) {
    & {
      max-height: 700px;
    }
  }

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: tint-color(#3c3c3cb3, 40%);
    border-radius: var(--cv-radius-round);
    border: 3px solid var(--color-light-gray);

    &:hover {
      background-color: #3c3c3cb3;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #0000;
  }

  > * {
    margin-block-end: calc(-1 * var(--search-dialog-padding));
  }

  &-root {
    // overflow-y: auto;
  }

  &-list-group {
    @extend .list-group;
    // --cv-list-group-color: inherit;
    // --cv-list-group-bg: #fff;
    // --cv-list-group-border-color: #00000020;
    // --cv-list-group-border-width: 1px;
    --cv-list-group-border-radius: var(--cv-radius-block);
    // --cv-list-group-item-padding-x: 1rem;
    // --cv-list-group-item-padding-y: 1rem;
    // --cv-list-group-action-color: #495057;
    --cv-list-group-action-hover-outline-color: var(--cv-blue);
    --cv-list-group-action-hover-outline-width: 2px;
    --cv-list-group-action-hover-color: #000;
    --cv-list-group-action-hover-bg: #inherit;
    // --cv-list-group-action-active-color: #212529;
    // --cv-list-group-action-active-bg: #e9ecef;
    // --cv-list-group-disabled-color: #6c757d;
    // --cv-list-group-disabled-bg: #fff;
    // --cv-list-group-active-color: #fff;
    // --cv-list-group-active-bg: #0d6efd;
    --cv-list-group-active-bg: var(--cv-blue);
    // --cv-list-group-active-border-color: #0d6efd;
    --cv-list-group-active-border-color: var(--cv-blue);

    list-style: none;
  }

  &-item {
    @extend .list-group-item;
    @extend .list-group-item-action;

    margin-block: calc(var(--search-dialog-padding) / 2);
    background-color: var(--cv-list-group-bg);
    cursor: pointer;
    border-radius: var(--cv-list-group-border-radius);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 10%), 0px 1px 3px 0px rgb(0 0 0 / 10%);

    &:hover {
      outline: var(--cv-list-group-action-hover-outline-width) solid var(--cv-list-group-action-hover-outline-color);
      outline-offset: calc(var(--cv-list-group-action-hover-outline-width) * -1);
    }

    * {
      pointer-events: none;
    }

    .active .ais-Highlight-highlighted {
      color: var(--cv-list-group-active-color);
    }

    &:first-child {
      margin-block-start: 0;
    }

    &:last-child {
      margin-block-end: 3px;
    }

    &-title {
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 1.4em;
    }

    &-pages {
      line-height: 1.2;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-variant-caps: all-small-caps;
      opacity: 0.9;
    }

    &-url {
      margin-bottom: 0.5rem;
      font-size: 0.95em;

      small {
        font-size: inherit;
      }
    }

    &-text {
      --lh: calc(var(--cv-body-line-height) * 1em);
      --max-lines: 2;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;

      margin-bottom: 0.5rem;
      font-size: 0.95em;
      display: -webkit-box;
      overflow: hidden;

      small {
        font-size: inherit;
      }
    }
  }

  &-no-result {
    margin-block-start: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.ais-Highlight-highlighted {
  padding: 0;
  background-color: transparent;
  color: var(--cv-blue);
  font-style: normal;
  text-decoration: underline;

  .cv-search-hits-item.active & {
    color: var(--cv-list-group-active-color);
  }
}

/*
 * Pagination
 */

.cv-search-pagination {
  display: flex;
  justify-content: center;
  margin-block-start: var(--_items-margin-block-start);

  &-list {
    --cv-pagination-disabled-color: #6c757d85;
    margin: 0;
  }
}
