const { join } = require('path')

const MONGODB_USER_NAME = '<read/write user>'
const MONGODB_USER_PASSWORD = '<some strong password>'

module.exports = {
  app: {
    baseUrl: 'https://corvee.bib.umontreal.ca',
    cookie: {
      name: 'cv-dev',
      options: {
        domain: 'bib.umontreal.ca',
      },
    },
  },
  mongodb: {
    url: `mongodb://${encodeURIComponent(MONGODB_USER_NAME)}:${encodeURIComponent(MONGODB_USER_PASSWORD)}@127.0.0.1:27017/corvee?authSource=corvee`,
    dbName: 'corvee',
  },
}
