.cv-i-search {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
}

.cv-chip {
  --cv-chip-base-size: 0.9rem;
  --cv-chip-color: #49454e;
  --cv-chip-background-color: #fff;

  --cv-badge-color: var(--cv-chip-color);
  --cv-badge-font-size: calc(var(--cv-chip-base-size) * 0.875);
  --cv-badge-font-weight: 500;
  --cv-badge-border-radius: calc(var(--cv-chip-base-size) * 0.5);

  @extend .badge;

  display: flex;
  align-items: center;
  line-height: calc(var(--cv-chip-base-size) * 1.75);
  background-color: var(--cv-chip-background-color);
  color: inherit;
  font-size: var(--cv-badge-font-size);
  font-weight: var(--cv-badge-font-weight);
  outline: 1px solid #79747e;
  padding: 0 calc(var(--cv-chip-base-size) * 1) 0 calc(var(--cv-chip-base-size) * 0.5);
  overflow: hidden;

  &:hover {
    --cv-chip-color: #1e192b;
  }
}

.cv-chip-text {
  margin-left: calc(var(--cv-chip-base-size) * 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
}

.cv-chip .btn-close,
.badge .btn-close {
  color: inherit;
  width: calc(var(--cv-chip-base-size) * 1);
  height: calc(var(--cv-chip-base-size) * 1);
  opacity: unset;
  border-radius: 50%;
  background-size: 0.85em;
}

.cv-chip .btn-close:hover {
  background-color: #e7e6e6;
}

.cv-search-input {
  background-color: #f1f3f4;
  border-radius: 40px;
  display: flex;
  padding: 0.3125em 0.3125em 0.3125em 0.75em;
  align-items: center;
  width: 175px;
  transition: all 0.2s !important;
  max-width: 175px;

  &.filled {
    width: 100%;
    max-width: 40vw;
    transition: all 0.2s !important;
  }

  &.empty {
    transition: all 0.2s !important;
    width: 175px;

    @extend %widget-state;

    &:hover {
      background-color: #e4e5e5;

      // .cv-placeholder {
      //   --cv-muted-color: #474a4e;
      // }
    }
  }

  .cv-placeholder {
    // --cv-muted-color: #4f5257;
    // color: var(--cv-muted-color);
    white-space: nowrap;
  }
}

.cv-search-input-btn {
  border: 1px solid transparent;
  line-height: 1.75;
  padding: 0;
  margin: 0 0.5em 0 0.35em;
  transition: all 3s;
  min-width: 120px;
  cursor: pointer;
  background: transparent;
}

:root,
::backdrop {
  --search-dialog-animation-duration: 0.2s;
}

.cv-search-dialog {
  --search-dialog-padding: 16px;
  --color-light-gray: #f4f4f4;

  --_cancel-button-width: 70px;
  --_input-height: 50px;
  --_input-padding: 12px;
  --_input-border-width: 1px;
  --_input-border-width-focus: 2px;
  --_items-margin-block-start: 16px;

  font-size: 1rem;
  padding: 0;
  border: none;
  inset-block: 60px auto;
  background-color: transparent;
  box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
  inset: 0;
  top: 0;
  margin-top: 70px;
  max-height: calc(100% - 70px - 2em);

  &[open] {
    display: flex;
  }

  &.open {
    animation: dialog-fade var(--search-dialog-animation-duration) ease forwards;
  }

  &.close {
    animation: dialog-fade var(--search-dialog-animation-duration) ease backwards;
    animation-direction: reverse;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.32);
  }

  &.open::backdrop {
    animation: dialog-fade var(--search-dialog-animation-duration) ease forwards;
  }

  &.close::backdrop {
    animation: dialog-fade var(--search-dialog-animation-duration) ease backwards;
    animation-direction: reverse;
  }

  @keyframes dialog-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes backdrop-fade {
    from {
      background-color: transparent;
    }
    to {
      // background: rgba(0, 0, 0, 0.32);
      background-color: red !important;
    }
  }

  @include media-breakpoint-down(md) {
    & {
      // inset: 0;
      height: 100vh;
      width: 100vw;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
  }

  code {
    background-color: transparent;
    color: var(--cv-gray-800);
    border-radius: 0;
    padding: 0;
  }

  .active code {
    color: var(--cv-light);
  }
}

.cv-search-dialog-content {
  padding: var(--search-dialog-padding);
  box-sizing: border-box;
  background-color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @include media-breakpoint-up(md) {
    & {
      max-width: 700px;
    }
  }
}

.cv-search-dialog-box {
}

.cv-search-dialog {
  &-form {
    --cv-transition-duration: 1s;
    --_cancel-button-width: 70px;
    --_input-height: 50px;
    --_input-padding: 12px;
    --_input-border-width: 1px;
    --_input-border-width-focus: 2px;
    --_items-margin-block-start: 16px;

    flex-grow: 1;
    position: relative;
    display: flex;
    height: var(--_input-height);
    background-color: #fff;
    margin-inline-end: var(--search-dialog-padding);
    outline: var(--_input-border-width) solid var(--cv-blue);

    &.focus {
      outline-width: var(--_input-border-width-focus);
    }
  }

  &-input {
    flex-grow: 1;
    height: 100%;
    margin: calc(var(--_input-border-width-focus) - var(--_input-border-width));
    padding: var(--_input-padding);
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 0;
    outline: 0 none;

    &:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
      opacity: 0 !important;
    }
  }

  &-submit-btn,
  &-reset-btn {
    border: 0;
    inset-inline-end: var(--_input-padding);
    inset-block-start: 0;
    padding: 0;
    height: 100%;
    aspect-ratio: 1/1;
    transition: opacity var(--cv-transition-duration);
    color: var(--cv-blue);
    background-color: transparent;

    &.opacity-100,
    &.opacity-0 {
      transition: opacity var(--cv-transition-duration);
    }
  }

  &-submit-btn {
    pointer-events: none;

    &::-webkit-search-cancel-button {
      display: none !important;
    }
  }

  &-submit-icon,
  &-reset-icon {
    fill: currentColor;
    height: 35%;
    width: 35%;
  }
}

.cv-search-hits {
  --scrollbar-width: 14px;

  display: block;
  z-index: 1;
  padding: 0;
  overflow: auto;
  margin-inline: calc(-1 * var(--search-dialog-padding));
  margin-block-start: var(--_items-margin-block-start);
  padding-block-end: var(--search-dialog-padding);
  padding-inline: var(--search-dialog-padding);
  scrollbar-color: auto var(--color-light-gray);
  scrollbar-width: thin;

  @include media-breakpoint-up(md) {
    & {
      max-height: 700px;
    }
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3c3cb3;
    border-radius: calc(var(--scrollbar-width) / 2);
    border: 3px solid var(--color-light-gray);
  }

  &::-webkit-scrollbar-track {
    background-color: #0000;
  }

  > * {
    margin-block-end: calc(-1 * var(--search-dialog-padding));
  }

  &-list-group {
    // --cv-list-group-color: inherit;
    // --cv-list-group-bg: #fff;
    // --cv-list-group-border-color: #00000020;
    // --cv-list-group-border-width: 1px;
    // --cv-list-group-border-radius: 0.375rem;
    // --cv-list-group-item-padding-x: 1rem;
    // --cv-list-group-item-padding-y: 1rem;
    // --cv-list-group-action-color: #495057;
    --cv-list-group-action-hover-outline-color: var(--cv-blue);
    --cv-list-group-action-hover-outline-width: 2px;
    --cv-list-group-action-hover-color: #000;
    // --cv-list-group-action-hover-bg: #inherit;
    // --cv-list-group-action-active-color: #212529;
    // --cv-list-group-action-active-bg: #e9ecef;
    // --cv-list-group-disabled-color: #6c757d;
    // --cv-list-group-disabled-bg: #fff;
    // --cv-list-group-active-color: #fff;
    // --cv-list-group-active-bg: #0d6efd;
    --cv-list-group-active-bg: var(--cv-blue);
    // --cv-list-group-active-border-color: #0d6efd;
    --cv-list-group-active-border-color: var(--cv-blue);

    list-style: none;
  }

  &-item {
    margin-block: 4px;
    background-color: var(--cv-list-group-bg);

    &-action {
      cursor: pointer;

      &:hover {
        outline: var(--cv-list-group-action-hover-outline-width) solid var(--cv-list-group-action-hover-outline-color);
        outline-offset: calc(var(--cv-list-group-action-hover-outline-width) * -1);
      }

      * {
        pointer-events: none;
      }

      .active .ais-Highlight-highlighted {
        color: var(--cv-list-group-active-color);
      }
    }

    &-title {
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 1.4em;
    }

    &-pages {
      line-height: 1.2;
      margin-bottom: 0.5rem;
      font-weight: 400;
      font-variant-caps: all-small-caps;
      opacity: 0.9;
    }

    &-url {
      margin-bottom: 0.5rem;
      font-size: 0.95em;

      small {
        font-size: inherit;
      }
    }

    &-text {
      --lh: calc(var(--cv-body-line-height) * 1em);
      --max-lines: 2;
      -webkit-line-clamp: var(--max-lines);
      -webkit-box-orient: vertical;

      margin-bottom: 0.5rem;
      font-size: 0.95em;
      display: -webkit-box;
      overflow: hidden;

      small {
        font-size: inherit;
      }
    }
  }
}

.ais-Highlight-highlighted {
  padding: 0;
  background-color: transparent;
  color: var(--cv-blue);
  font-style: normal;
  text-decoration: underline;

  .cv-search-hits-item-action.active & {
    color: var(--cv-list-group-active-color);
  }
}

/*
 * Pagination
 */

.cv-search-pagination {
  display: flex;
  justify-content: center;
  margin-block-start: var(--_items-margin-block-start);

  &-list {
    --cv-pagination-disabled-color: #6c757d85;
    margin: 0;
  }
}
