$utilities: (
  // scss-docs-start utils-shadow
  "shadow":
    (
      property: box-shadow,
      class: shadow,
      values: (
        null: $box-shadow,
        sm: $box-shadow-sm,
        lg: $box-shadow-lg,
        none: none,
      ),
    ),
  // scss-docs-end utils-shadow
);
