%cv-i {
  &-spinner-rolling {
    stroke: #4a5f72;
    opacity: 0.5;
  }

  &-to-be-fixed {
    color: var(--cv-error);
  }

  &-fixed {
    color: var(--cv-success);
  }

  &-ignore {
    color: var(--cv-success);
  }

  &-no-error {
    color: var(--cv-success);
  }

  &-warning {
    color: var(--cv-warning);
  }
}

/////////////////////////////////////////////

.cv-i {
  display: inline-block;
  // fill: currentColor;
  flex-shrink: 0;
  overflow: visible;
  vertical-align: -0.125em;
  font-size: 0.9em;
}

@mixin make-icons($icons) {
  @each $icon in $icons {
    .cv-i-#{$icon} {
      @extend %cv-i-#{$icon};
    }
  }
}
