@mixin reset-inherit {
  // css resets
  cursor: initial;
  font-style: initial;
  font-variant: initial;
  letter-spacing: initial;
  text-align: initial;
  text-indent: initial;
  text-transform: initial;
  white-space: initial;
  word-spacing: initial;
}
