:root {
  --cv-body-color: #333;
  --cv-code-font: "Roboto Mono";
  --cv-gray-200: #eee;

  --cv-link-color: #3166b3;
  --cv-link-hover-color: #3166b3;
  --cv-code-color: inherit;

  --cv-space-width: 0.2473958333333333em;
  --cv-color-neutral-muted: #ebedf0;
  --cv-muted-color: #82878f;

  --cv-navbar-height: 70px;
}
