@use 'sass:map';
@use 'sass:math';

// @function strip-unit($value)
// @param {number with unit} $value
@function strip-unit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function hem($multiplier) {
  @return $font-size-base * strip-unit($multiplier);
}

$theme-colors: map-merge($theme-colors, $custom-colors);

$root: root !default;

$gray: map.get($colors, 'gray');

:#{$root} {
  --cv-error: #{$accent};
  --cv-warning: #{$warning};
  --cv-success: #{$success};
  --cv-accent: #{$accent};

  --cv-body-color: #{$body-color};
  --cv-body-font-family: #{$font-family-base};
  --cv-code-font: #{$font-family-monospace};
  --cv-body-font-size: #{hem(1)};
  --cv-gray-200: #eee;

  --cv-link-color: #3166b3;
  --cv-link-hover-color: #3166b3;
  --cv-code-color: unset;

  --cv-space-width: 0.2473958333333333em;
  --cv-color-neutral-muted: #ebedf0;
  --cv-muted-color: #82878f;
  --cv-backdrop-color: rgba(0, 0, 0, 0.32);

  --cv-radius-inline: 0.3333em;
  --cv-radius-block: #{hem(1)};
  --cv-radius-round: 50vw;

  --cv-speed-duration-short: 100ms;
  --cv-speed-duration-medium-in: 250ms;
  --cv-speed-duration-medium-out: 200ms;
  --cv-speed-duration-large-in: 300ms;
  --cv-speed-duration-large-out: 250ms;

  --cv-shadow-2: 0 0.35rem 0.8rem rgb(0 0 0 / 20%), inset 0 -1px 0 rgb(0 0 0 / 20%);

  --cv-navbar-height: 60px;

  color: var(--cv-body-color);
  font-size: var(--cv-body-font-size);
  font-family: var(--cv-body-font-family);
}
