//
// Options
//
$enable-shadows: true;
$enable-transitions: true;
// $enable-cssgrid: true;

//
// Default variable overrides
//
$prefix: cv-;

// Theme colors
$primary: #006599;

$font-family-base: "Roboto", sans-serif;
$body-bg: #fff;
$body-color: #111;

$border-radius: 0.5rem;

$headings-font-weight: 400;
