:host {
  --cv-surface: #f5f5f5;
  --cv-color-primary: var(--cv-body-color);
  --cv-color-on-primary: #fff;
  --cv-color-outline: #79747e;
  --cv-color-outline-variant: #c4c7c5;
  --cv-elevation-2: 0 3px 1px -2px#0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;

  --cv-switch-size: 1.2em;
  --cv-switch-border-width: calc(var(--cv-switch-size) * 0.0625);
  --cv-switch-border-radius: calc(var(--cv-switch-size) / 2);
  --cv-switch-border-color: #e0e0e0;
  --cv-switch-border-color-selected: var(--cv-primary);
  --cv-switch-background-color-selected: var(--cv-primary);
  --cv-switch-padding-x: 1px;
  --cv-switch-transform-duration: var(--cv-speed-duration-short, 0.1s);
  --cv-switch-thumb-border-width: 0;
  --cv-switch-thumb-border-color: var(--cv-color-outline);
  --cv-switch-thumb-border-color-selected: var(--cv-color-outline);
  --cv-switch-thumb-background-color: var(--cv-color-outline);
  --cv-switch-thumb-background-color-selected: var(--cv-color-on-primary);

  --_switch-height: var(--cv-switch-size);
  --_switch-width: calc(var(--cv-switch-size) * 1.625);
  --_thumb-size: calc(var(--cv-switch-size) * 0.9);

  @keyframes button-wave-effect {
    0% {
      transform: scale(0.2) translate(-50%, -50%);
    }
    50% {
      transform: scale(0.5) translate(-50%, -50%);
    }
    100% {
      transform: scale(1) translate(-50%, -50%);
    }
  }

  user-select: none;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .label {
    display: inline-block;
    margin-inline-start: 0.5em;
  }

  .switch {
    color: var(--cv-color-on-primary);
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    height: var(--_switch-height);
    width: var(--_switch-width);
    border: var(--cv-switch-border-width) solid var(--cv-switch-border-color);
    border-radius: var(--cv-switch-border-radius);
    background: var(--cv-surface) 0 0;
    transition-duration: var(--cv-switch-transform-duration);

    @extend %widget-state;

    .thumb {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: var(--cv-switch-padding-x);
      display: inline-block;
      border: var(--cv-switch-thumb-border-width) solid var(--cv-switch-thumb-border-color);
      border-radius: 100%;
      background-color: var(--cv-switch-thumb-background-color);
      box-shadow: var(--cv-elevation-2);
      pointer-events: all;
      height: var(--_thumb-size);
      width: var(--_thumb-size);
      transition-duration: var(--cv-switch-transform-duration);

      &:before {
        background-color: var(--smart-primary);
        position: absolute;
        width: 200%;
        height: 200%;
        left: 50%;
        top: 50%;
        transition-duration: var(--cv-switch-transform-duration);
        display: block;
        border-radius: 100%;
        content: "";
        transform: scale(0) translate(-50%, -50%);
        transform-origin: left top;
        opacity: 0.15;
      }

      svg {
        opacity: 0;
        transform: scale(0.7);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
      }
    }
  }

  .on {
    display: none;
  }
  .off {
    display: inline;
  }
}

:host([aria-checked="true"]) {
  .switch {
    background-color: var(--cv-switch-background-color-selected);
    border-color: var(--cv-switch-background-color-selected);

    .thumb {
      left: calc(var(--_switch-width) - var(--_thumb-size) - calc(var(--cv-switch-border-width) * 2) - var(--cv-switch-padding-x) + 1px);
      background: var(--cv-switch-thumb-background-color-selected);
      border-color: var(--cv-switch-thumb-border-color-selected);
      color: var(--cv-color-primary);

      .cv-i-check {
        display: block;
        opacity: 1;
      }
    }
  }

  .on {
    display: inline;
  }

  .off {
    display: none;
  }
}

:host([aria-checked="false"]) {
  .switch {
    .thumb {
      --_thumb-size: calc(var(--cv-switch-size) * 0.55);
      .cv-i-clear {
        display: block;
        display: none;
        opacity: 1;
      }
    }
  }
}

:host(:focus) {
  .switch {
    .thumb::before {
      transform: scale(1) translate(-50%, -50%);
      animation: button-wave-effect 0.1s ease-in;
    }
  }
}

:host([aria-checked="true"]:focus) {
  .switch {
    .thumb::before {
      background-color: var(--cv-switch-background-color-selected);
    }
  }
}

:host([aria-checked="false"]:focus) {
  .switch {
    .thumb::before {
      background-color: var(--cv-switch-thumb-background-color);
    }
  }
}

:host([hidden]) {
  display: none;
}
